@use '../abstracts/index.module'as var;

.socials {
  display: flex;
  color: var.$color-primary;
  position: relative;
  align-items: center;
  transition: transform var.$socials-transition;
  margin: var.$socials-margin;
  width: var.$socials-width;
  max-width: var.$socials-max-width;
  height: var.$socials-height;
  border-radius: var.$socials-border-radius;
  overflow: hidden;
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.3);

  .icon,
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var.$socials-section-height;
  }

  .icon {
    width: var.$socials-icon-width;
    vertical-align: middle;
  }

  .text {
    background: var.$socials-overlay-color;
    width: var.$socials-overlay-width;

    p {
      font-size: var.$p3-size;
    }
  }

  &:hover {
    transform: var.$socials-transform-hover;
  }

  &:after {
    content: "";
    height: 55px;
    width: 1px;
    position: absolute;
    left: 0px;
    top: 50%;
    transition: top var.$socials-transition, opacity var.$socials-transition;
    transition-duration: 0.6s;
    background: linear-gradient(transparent,
        var.$color-text,
        transparent);
    opacity: 0;
  }

  &:after {
    top: 65%;
    opacity: 0;
  }


  &:hover:after {
    top: 10%;
    opacity: 1;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 43.75rem) {
  .socials {
    width: var.$socials-width-mobile;
    height: var.$socials-height-mobile;

    .icon {
      margin-block: 7.5px;
      width: var.$socials-section-width-mobile;
    }

    .text {
      width: var.$socials-section-width-mobile;
      height: var.$socials-section-height-mobile;
    }

    &:hover {
      transform: unset;
    }
  }
}