@use '../abstracts/index.module' as var;

.socials {
  display: flex;
  color: var.$color-primary;
  align-items: center;
  transition: transform var.$socials-transition-time;
  margin: var.$socials-margin;
  width: var.$socials-width;
  max-width: var.$socials-max-width;
  height: var.$socials-height;

  p {
    font-size: var.$p3-size;
  }

  .icon,
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var.$socials-section-height;
  }

  .icon {
    width: var.$socials-icon-width;
    vertical-align: middle;
  }

  .overlay {
    background: var.$socials-overlay-color;
    width: var.$socials-overlay-width;
  }
}

.socials:hover {
  transform: var.$socials-transform-hover;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 43.75rem) {
  .socials {
    width: var.$socials-width-mobile;
    height: var.$socials-height-mobile;

    section {
      height: var.$socials-section-height-mobile;
    }

    .icon {
      width: var.$socials-icon-width-mobile;
    }

    .overlay {
      width: var.$socials-overlay-width-mobile;
      height: var.$socials-overlay-height-mobile;
    }
  }

  .socials:hover {
    transform: unset;
  }
}
