@use '../abstracts/index'as var;

.heroCanvas {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 66lvh;
  height: 100lvh;
  transition: height 0.2s ease;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}