@use '../abstracts/index'as var;

/* Footer */
$height: 60px;

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var.$color-overlay;
  width: 100%;
  height: $height;
  transition: background-color var.$dropdown-transition;

  p {
    display: unset;
    margin: unset;
    font-size: var.$p4-size;
  }
}