.heroCanvas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  max-width: 66lvh;
  height: 100lvh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}