@use '../abstracts/index.module' as var;

.about {
  .photo {
    width: 100%;
    max-width: 500px;
  }

  @media screen and (max-width: 43.75rem) {
    .row {
      flex-direction: column-reverse;
    }

    .photo {
      width: unset;
      max-width: 100%;
      max-height: 400px;
    }
  }
}
