/* Colors */
$color-overlay-rgb: var(--color-overlay-rgb);
$color-overlay-alpha: var(--color-overlay-alpha);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-background: var(--color-background);
$color-text: var(--color-text);
$image-background: var(--image-background);
$color-overlay: var(--color-overlay);

/* Color Exports */
:export {
  color_overlay_rgb: $color-overlay-rgb;
  color_overlay_alpha: $color-overlay-alpha;
  color_primary: $color-primary;
  color_secondary: $color-secondary;
  color_background: $color-background;
  color_text: $color-text;
  image_background: $image-background;
  color_overlay: $color-overlay;
}
