/* Social Buttons */
$skills-transition-time: 0.25s;
$skills-margin: 8px;
$skills-min-width: 115px;
$skills-width: fit-content;
$skills-max-width: 385px;
$skills-max-width-mobile: 140px;
$skills-height: fit-content;
/* Hover */
$skills-transform-hover: scale(1.1) perspective(1px);

/* Sections */
$skills-section-height: 75px;

/* Icon */
$skills-icon-width: 100%;
$skills-icon-height: 100px;

/* Overlay */
$skills-overlay-color: rgba(0, 0, 0, 0.212);
$skills-overlay-width: 100%;
$skills-overlay-height: 40px;