/* Colors */
$color-overlay-rgb: var(--color-overlay-rgb);
$color-overlay-alpha: var(--color-overlay-alpha);
$color-foreground: var(--color-foreground);
$color-mid-ground: var(--color-mid-ground);
$color-background: var(--color-background);
$color-body-font: var(--color-body-font);
$text-image: var(--text-image);
$color-overlay: var(--color-overlay);

/* Color Exports */
:export {
  overlay_rgb_color: $color-overlay-rgb;
  overlay_alpha_color: $color-overlay-alpha;
  foreground_color: $color-foreground;
  midground_color: $color-mid-ground;
  background_color: $color-background;
  overlay_color: $color-overlay;
  text_color: $color-body-font;
}