$color-overlay-hex: #000000;
$color-overlay-alpha: 0.325;
$color-foreground: #FD666C;
$color-mid-ground: #2A4867;
$color-background: #0d192b;
$text-image: url('/images/Background.webp');
$color-overlay: rgba($color-overlay-hex, $color-overlay-alpha);
$color-overlay-back: mix($color-overlay-hex, $color-background, $color-overlay-alpha * 100);

:export {
  forec: $color-foreground;
  midc: $color-mid-ground;
  backc: $color-background;
  overbackc: $color-overlay-back;
  overlayc: $color-overlay;
}
