$theme-transition: 0.4s ease-out;
$dropdown-transition: 0.25s ;
$viewport-max-width: 120rem;
$padding-safe: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
$inverted-padding-safe: 0 calc(-1 * env(safe-area-inset-right)) 0 calc(-1 * env(safe-area-inset-left));