$text-main: #EAF6FF;
$text-alt: #EAF6FF;

$heading-size: 15vw;
$heading-line-size: 100%;
$heading-alignment: center;
$heading-weight: 900;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}