/* Font Faces */
@font-face {
  font-family: 'yapari';
  src: url('/fonts/yapari-variable.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

$font-title: yapari,
serif;

@font-face {
  font-family: 'kollektif';
  src: url('/fonts/kollektif-webfont.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

$font-body: kollektif,
serif;

/* Heading Text */
$heading-alignment: center;
$heading-size: 7vw;
$heading-weight: 750;

/* Title Text */
$title-size: 35px;

/* Body Text */
$body-alignment: center;
$body-size: 25px;