$navbar-align-items: center;
$navbar-button-padding: 0rem 2vw;
$navbar-display: flex;
$navbar-flex-direction-phone: column;
$navbar-flex-direction: row;
$navbar-font-line-size: 100%;
$navbar-font-size: 22px;
$navbar-font-weight: 700;
$navbar-height-phone: $nav-height + 50px;
$navbar-height: 80px;
$navbar-icon-padding: 0rem 0.5rem;
$navbar-justify-content-phone: space-evenly;
$navbar-justify-content: space-between;
$navbar-padding-safe: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
$navbar-padding: 0rem 4px;
$navbar-position: Fixed;
$navbar-width: 100%;