/* Navbar */
$navbar-position: Fixed;
$navbar-flex-direction: row;
$navbar-justify-content: space-between;
$navbar-padding: 0rem 4px;
$navbar-padding-safe: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
$navbar-width: 100%;
$navbar-height: 80px;

/* Buttons */
$navbar-button-padding: 0rem 2vw;
$navbar-button-line-height: 100%;
$navbar-font-size: 22px;
$navbar-font-weight: 700;

/* SVG */
$navbar-icon-padding: 0rem 0.5rem;