$nav-height: 80px;
$nav-width: 100%;
$nav-display: flex;
$nav-justify-content: space-between;
$nav-position: Fixed;
$nav-align-items: center;
$nav-padding: 0rem 4px;
$nav-button-padding: 0rem 2vw;
$nav-icon-padding: 0rem 0.5rem;
$nav-font-size: 22px;
$nav-font-line-size: 100%;
$nav-font-weight: 700;