$socials-overlay-color: rgba(0, 0, 0, 0.212);
$socials-text-size: 20px;
$socials-text-weight: 700;
$socials-width: 100vw;
$socials-max-width: 385px;
$socials-max-width-mobile: 265px;
$socials-height: fit-content;
$socials-min-height: 100px;