@use '../abstracts/index'as var;

.about {
  img {
    width: 100%;
    max-width: 300px;
    border-radius: var.$common-border-radius;
  }

  @media screen and (max-width: var.$media-mobile-width) {
    img {
      width: unset;
      max-width: 100%;
      max-height: 40lvh;
    }
  }
}