@use './abstracts/index'as var;

/* Navbar & Footer */
@use './components/Navbar.module.scss';
@use './components/Footer.module.scss';

/* Main Content */
@use './main.module.scss';

/* Lenis */
@use './lenis.module.scss';

/* Scrollbar */
@use './scrollbar.scss';

/* CSS Variables */
:root {
  --color-overlay-rgb: #000000;
  --color-overlay-alpha: 0.1;
  --color-primary: #ed5f68;
  --color-secondary: #33456d;
  --color-background: #0f182d;
  --color-text: #eaf6ff;
  --image-background: url('https://res.cloudinary.com/ruben-p/image/upload/f_avif,q_30,c_limit,w_800/v1645499430/Images/Backgrounds/paolo-celentano-qMjZUL0_pOw-unsplash_jioifq.webp');
  --color-overlay: rgba(0, 0, 0, var(--color-overlay-alpha));
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  touch-action: pan-y;
  font-family: var.$p-font;
  background-color: var.$color-background;
  transition: background-color var.$theme-transition;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  z-index: inherit;
}

h1 {
  text-align: var.$h-alignment;
  color: var.$color-primary;
  font-family: var.$h-font;
  font-size: var.$h1-size;
  font-stretch: semi-expanded;
  max-width: 100%;
  filter: var.$common-drop-shadow;
  transition: font-size 0.1s ease-in;
  margin-block: var.$h-margin-block;
}

h2 {
  text-align: var.$h-alignment;
  color: var.$color-primary;
  font-family: var.$h-font;
  font-size: var.$h2-size;
  max-width: 100%;
  filter: var.$common-drop-shadow;
}

h3 {
  text-align: var.$p-alignment;
  color: var.$color-text;
  font-family: var.$h-font;
  font-size: var.$p1-size;
  max-width: 100%;
  filter: var.$common-drop-shadow;
}

p {
  line-height: 1.1;
  overflow: auto;
  text-align: var.$p-alignment;
  color: var.$color-text;
  font-size: var.$p1-size;
  max-width: 100%;
  margin: 0px 20px 0px 20px;
  margin-block-start: 0.25em;
  margin-block-end: 0em;
  padding-inline: 1px;
}

.image-text {
  background: var.$image-background no-repeat center center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  filter: brightness(115%) contrast(43%) drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6)) saturate(1.5);
  transition: background var.$theme-transition !important;
}

h1,
h2,
h3,
p,
svg {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  transition: color var.$theme-transition;

  a {
    text-decoration: underline;
    text-decoration-color: #4285f4;
    color: #4285f4;
  }
}

body {
  position: relative; // added for pseudo-element
  z-index: 0;

  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100lvh;
    top: 0;
    left: 0;
    background-color: white;
    background: var.$image-background no-repeat center center;
    background-size: cover;
    transform: translateZ(0) !important;
    will-change: transform; // creates a new paint layer
    z-index: -1;
    transition: background var.$theme-transition;
    opacity: 0.35;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important;
  }
}

.layer {
  position: absolute;
}

.row-fixed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.row {
  @extend .row-fixed;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flex-padding {
  padding: 15px;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 100%;

  .item {
    flex: 0 0 auto;
    margin: 0.25vw;
  }

  .shadow {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
    margin: 0.5vw !important;
  }
}

.draft-disable {
  position: fixed;
  z-index: 15;
  bottom: 0;
  right: 1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

[hidden] {
  display: none !important;
}

@media screen and (min-width: var.$media-mobile-width) {

  h1:has(.image-text),
  h2:has(.image-text),
  h3:has(.image-text) {
    filter: none;
  }
}

@media screen and (max-width: var.$media-mobile-width) {
  .image-text {
    background: unset;
    background-size: unset;
    background-attachment: unset;
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    filter: unset;
    transition: color var.$theme-transition !important;
  }

  h2 {
    font-size: var.$h2-size - 10;
  }

  .row {
    flex-direction: column;
  }

  .flex-box {
    width: 100%;
  }
}