@use '../abstracts/index.module'as var;

.threeJS {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  max-width: 66lvh;
  height: 100lvh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

  .placeholder {
    margin: auto;

    .column {
      transition: opacity 0.5s;
      position: relative;
    }
  }

  Canvas {
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
}