.canvas {
  width: 100%;
  max-width: 66svh;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

  Canvas {
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
}
