@use "../abstracts/index.module"as var;

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: var.$footer-justify-content;
  z-index: 5;
  background-color: var.$color-overlay;
  padding: var.$footer-padding;
  width: var.$footer-width;
  height: var.$footer-height;
  color: var.$color-body-font;
  transition: background-color 0.25s;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: var.$footer-height * 2;
  }
}