@use "../abstracts/index.module"as var;

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  background-color: var.$color-overlay;
  padding: var.$footer-padding;
  width: var.$footer-width;
  height: var.$footer-height;
  color: var.$color-text;
  transition: background-color 0.25s;

  p {
    display: unset;
    margin: unset;
    font-size: var.$p4-size;
  }
}