@use '../abstracts/index.module'as var;

nav {
  display: flex;
  position: var.$navbar-position;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  background-color: var.$color-overlay;
  padding: var.$navbar-padding;
  padding: var.$padding-safe;
  width: var.$navbar-width;
  height: var.$navbar-height;
  transition: background-color 0.25s;

  a {
    flex: 0 1 auto;
    transition: transform 0.25s;

    p {
      padding: var.$navbar-item-padding;
      font-size: var.$p2-size;
    }

    svg {
      color: var.$color-primary;
      margin: var.$navbar-item-padding;
      width: var.$navbar-height * 0.80;
      height: var.$navbar-height * 0.80;
      size: var.$navbar-height * 0.80;
    }
  }

  p {
    display: unset;
    font-weight: bold;
    color: var.$color-primary;
  }

  .dropdown {
    position: fixed;
    z-index: 6;
    background-color: var.$color-overlay;
    margin: var.$inverted-padding-safe;
    padding: var.$navbar-padding;
    padding: var.$padding-safe;
    width: var.$navbar-width;
    height: calc(100vh - var.$navbar-height);
    transform-origin: top;
    transition: transform 0.25s, opacity 0.25s, background-color 0.25s;

    a {
      margin: 25px 0px;

      p {
        font-size: var.$p2-size * 1.75;
      }
    }
  }

  .hamburger-react {
    margin: 0 10px 0 10px;
  }
}