@use '../abstracts/index.module'as var;

.page {
  max-width: var.$viewport-max-width;
  margin: 0 auto;
  position: inherit;
  z-index: 1;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var.$padding-safe;
    padding-top: var.$navbar-height;
    min-height: 100lvh;
    transition: min-height 0.35s ease;
  }

  .hero-no-padding {
    @extend .hero;
    padding-top: unset;
  }

  .hero-content {
    @extend .hero-no-padding;
    justify-content: flex-start;
    min-height: unset;
  }

  icon {
    height: 100%;
    vertical-align: middle;
  }

  .item {
    flex: 0 1 auto;
    margin: 20px;
  }
}