@use "../abstracts/index.module"as var;

.page {
  position: inherit;
  z-index: 1;

  h1 {
    text-align: var.$heading-alignment;
    line-height: 1em;
    color: var.$color-foreground;
    font-family: var.$font-title;
    font-size: var.$heading-size;
    font-weight: var.$heading-weight;
    max-width: 100%;
    transition: font-size 0.1s ease-in;
  }

  h1-image {
    @extend h1;
    background: var.$text-image no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.6));
  }

  h2 {
    text-align: var.$heading-alignment;
    line-height: 1em;
    color: var.$color-foreground;
    font-family: var.$font-title;
    font-size: var.$title-size;
    font-weight: var.$heading-weight;
    max-width: 100%;
  }

  p {
    max-width: 70vw;
    overflow: auto;
    text-align: var.$body-alignment;
    line-height: 1.33em;
    color: var.$color-body-font;
    font-size: var.$body-size;
  }

  hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var.$padding-safe;
    padding-top: var.$navbar-height;
    min-height: 100vh;
  }

  hero-no-padding {
    @extend hero;
    padding-top: unset !important;
  }

  heros {
    @extend hero-no-padding;
    justify-content: flex-start;
    min-height: unset;
  }

  icon {
    height: 100%;
    vertical-align: middle;
  }

  .line {
    background-color: var.$color-foreground;
    width: 33%;
    height: 2px;
  }

  .button {
    display: inline-block;
    margin: 4px 2px;
    border: none;
    border-radius: 4px;
    background-color: var.$color-foreground;
    cursor: pointer;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    color: var.$color-background;
    font-size: 16px;
  }

  .item {
    flex: 0 1 auto;
    margin: 20px;
  }

  @media screen and (max-width: 700px) {
    h1 {
      font-size: var.$heading-size*1.25;
    }

    h1-image {
      background-attachment: unset;
      background-size: auto;
      filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.85));
    }

    h2 {
      font-size: var.$title-size - 10;
    }
  }
}