@use '../abstracts/index.module'as var;

html::-webkit-scrollbar {
  width: 7.5px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(var(--color-foreground), 0.4);
}

html::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-foreground), 0.8);
}

html::-webkit-scrollbar-track {
  background: var.$color-background;
}