@use "../abstracts/index.module" as var;

.socials {
  margin: 10px;
  width: var.$socials-width;
  max-width: var.$socials-max-width;
  height: var.$socials-height;
  display: flex;
  align-items: center;
  transition: transform 0.25s;

  p {
    font-size: var.$socials-text-size;
    font-weight: var.$socials-text-weight;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .icon {
    @extend section;
    width: 30%;
    vertical-align: middle;
  }

  .overlay {
    @extend section;
    width: 70%;
    background: var.$socials-overlay-color;
  }
}

.socials:hover {
  transform: scale(1.1) perspective(1px);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .socials {
    max-width: var.$socials-width-mobile !important;
    height: fit-content;

    section {
      height: 75px !important;
    }

    .icon {
      width: 100% !important;
    }

    .overlay {
      width: 100% !important;
      height: 100px !important;
    }
  }
}
