@use './abstracts/index.module'as var;
@use './components/index.module'as com;

html,
body {
  margin: 0;
  padding: 0;
  font-family: var.$font-body;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

url {
  text-decoration: underline;
  text-decoration-color: #4285F4;
  color: #4285F4;
}

.App {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.flex-padding {
  padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}