@use './abstracts/index.module' as var;
@use './components/index.module' as com;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.bg-colour {
  background: var.$color-background;
}

.layer {
  position: absolute;
}

.row {
  flex-direction: row;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.column {
  flex-direction: column;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}